<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.net.waw.engarrafei-winx"
    version     = "0.9" >
        <name>Engarrafei - WINX?</name>
        <description>
            Aplicativo da EJM
        </description>
        <author email="luizbweb@gmail.com" href="">
            WAW
        </author>
        <icon src="icon.png" />
        <plugin name="cordova-plugin-device" />
        <plugin name="cordova-plugin-file-transfer" />
        <plugin name="cordova-plugin-network-information" />
        <plugin name="cordova-plugin-geolocation" />
        <plugin name="cordova-plugin-globalization" />
        <plugin name="cordova-plugin-inappbrowser" />
        <access origin="*"/>
        <plugin name="cordova-plugin-whitelist" version="1" />
        <preference name="Orientation" value="portrait" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="geo:*" />
    </widget>